

body {
    background-color: #9ccfd8;
}

a {
    text-decoration: none;
}



div.sidebar {
    list-style-type: none;
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #31748f;
    overflow-x: hidden;
  }

    #Main {
        font-size: 80px;
        margin-left: 20px;
        font-family: 'Dongle', sans-serif;
        display: flex;
        align-items:flex-start;
    }

    div * {
        font-size: 30px;
        font-family: 'Dongle', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



.box {
    margin-left: 35%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}

    .box > * {
        background-color: #f6c177;
        padding: 30px;
    }



.addform {
    margin-left: 35%;
    margin-right: 10%;
    line-height:2rem;
    display: flex;
    justify-content: flex-start;
}

    #contactpicture {
        margin-top: 10%;
        width: 10%;
        height: auto;   
        border-radius: 50%;

    }



.buttonformat {
    margin-left: 35%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}

    .buttonformat :first-child {
        background-color: #6e6a86;
    }

    .buttonformat :nth-child(2) {
        background-color: #555169;
    }

